extends layout

block content
|<!DOCTYPE html>
|<html>
|  <head>
|    <title>Campground Finder</title>
|    <link rel="stylesheet"; type="text/css"; href="./stylesheets/FirstWeb.css" />
|    <script src="src="./javascripts/jquery-1.12.1.min.js"></script>
|    <script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places,weather,geometry,visualization&sensor=false"></script>
|    <script type="text/javascript" src="./javascripts/campMap.js"></script>
|    <script type="text/javascript" src="FirstWeb.js"></script>
|  </head>
|    <body>
|      <input id="pac-input" class="controls" type="text" placeholder="Start typing here" autofocus>
|<!--Left Column -->
|      <div class="leftColumn">
|        <h3 class="headerInLeftColumn">
|          Find Campgrounds
|        </h3>
|        <p class="textInLeftColumn">
|          We will help locate campgrounds or campsites. Simply search for a location on the map. Clicking the button below will refresh campground search in the map. RV parks are not included. </br></br>
|          Happy camping :)
|        </p><br/>
|          <button type="button" id="campgroundSearchBtn">Search for nearby campgrounds</button>
|          <br/>
|          <!-- TODO in mapTest file -->
|          <!-- <h4>Campgrounds Found</h4>
|          <div id="campList">
|          </div> -->
|      </div>
|  <!--First Page in slider-->
|        <div class="mapContainer">
|          <div id="map-canvas"></div>
|        </div>
|<!--Arrows and dots-->
|    </body>
|</html>
