extends layout

block content

  |  </head>
  |    <body>
  |      <input id="pac-input" class="controls" type="text" placeholder="Start typing here..." autofocus>
  |  <!--First Page in slider-->
  |        <div class="mapContainer">
  |          <div id="map-canvas"></div>
  |           <div class="infoContainer">
  |           <div id="refreshBtn">Refresh Campground Search</div>
  |         </div>
  |           <div id="questionMark">? <div id="infoText">We will help locate campgrounds or campsites. Simply search for a location on the map or click the button above to refresh search in this area. RV parks are not included. </br></br>
  |          Happy camping :)</div>
  |        </div>
  |    </body>
